[Desktop Entry]
Encoding=UTF-8
Name=Borg ER-0
Comment=Draw oscillators and envelopes.
StartupNotify=false
Exec=borg0
Icon=com.voxdsp.Borg0
Terminal=false
Type=Application
Categories=Utility;Audio
